:root {
  --primary-color: #0ff;
  --secondary-color: #6abac6d9;
  --tetiary-color: #0d1f2d;
  --tetiary-color-2: #0d1f2dab;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-style: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  gap: 1rem;
  font-family: 'Poppins', sans-serif;
  background-image: url('./images/bg.jpg');
  background-position: left -80%;
  color: white;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

section {
  display: flex;
  justify-content: space-between;
  min-width: 60vw;
  gap: 0.5rem;
}

.scores {
  display: flex;
  flex-direction: column;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
  align-self: center;
}

#name,
#score {
  position: relative;
  padding: 0.5rem 1rem;
  box-shadow: 1px 1.5px 3px hsl(257deg 40% 49%);
  border-radius: 20%;
}

input:focus {
  box-shadow: 1px 2.5px 3px hsl(257, 40%, 49%);
}

input::placeholder {
  color: hsl(257, 40%, 49%);
  padding-left: 1rem;
}

.refresh,
.btn {
  width: max-content;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  letter-spacing: 2px;
  box-shadow: 1px 1.5px 3px #000;
  border: 2px solid hsl(257, 40%, 49%);
  border-radius: 20%;
  align-self: center;
  margin-bottom: 10px;
  color: hsl(257, 40%, 49%);
}

button:active {
  box-shadow: none;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 4px;
  color: #fff;
  align-self: flex-start;
  margin-left: 12vw;
}

h2 {
  color: rgb(225, 223, 231);
  font-size: larger;
}

.element {
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.f-row {
  flex-direction: row;
}

.f-col {
  flex-direction: column;
}

th {
  padding-left: 16px;
}

thead,
tr {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  letter-spacing: 3px;
  box-shadow: 1px 1.5px 3px #000;
  width: 100%;
}

.refresh:hover,
.btn:hover {
  transform: scale(1.1);
  background-color: #25316d;
}

tr:nth-child(even),
thead {
  background-color: rgba(128, 128, 128, 0.5);
}

table {
  width: 100%;
  border: 1px solid #000;
  box-shadow: 1px 1.5px 3px #000;
}

tbody {
  overflow: auto;
  max-height: 50vh;
  border-collapse: collapse;
}

thead,
tbody {
  display: block;
}

th,
td {
  flex: 1;
  min-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
